<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Xử Lý</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2 class="my-4">Form Xử Lý</h2>
  
  <form th:object="${discipline}" th:action="@{save}" method="post">
    <div class="form-group">
      <label for="maXuLy">Mã Xử Lý</label>
      <input type="text" class="form-control" id="maXuLy" th:field="*{id}" placeholder="Nhập mã xử lý">
    </div>
    <div class="form-group">
    <label for="thanhVien">Thành Viên</label>
    <select class="form-control" id="thanhVien" th:field="*{member}">
        <option th:each="member : ${memberList}" th:value="${member.id}" th:text="${member.id + '-' + member.name}"></option>
    </select>
   </div>
    <div class="form-group">
      <label for="hinhThucXuLy">Hình Thức Xử Lý</label>
      <select class="form-control" id="hinhThucXuLy" th:field="*{description}">
          <option th:value="'Khóa Thẻ 1 Tháng'">Khóa Thẻ 1 Tháng</option>
          <option th:value="'Khóa Thẻ 2 Tháng'">Khóa Thẻ 2 Tháng</option>
          <option th:value="'Bồi Thường'">Bồi Thường</option>
      </select>
    </div>
    <div class="form-group">
      <label for="soTien">Số Tiền</label>
      <input type="text" class="form-control" id="soTien" placeholder="Nhập số tiền" th:field="*{fine}">
    </div>
    <div class="form-group">
      <label for="trangThai">Trạng Thái</label>
      <select class="form-control" id="trangThai" th:field="*{status}">
        <option value="0">Đã xử lý</option>
        <option value="1">Chưa xử lý</option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/discipline.js}"></script>
</body>
</html>
