<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bảng Xử Lý</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
  <h2 class="my-4">Bảng Xử Lý</h2>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <!-- Ô tìm kiếm -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Tìm kiếm...">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">X</button>
      </div>
    </div>
    <a href="/addDiscipline" class="btn btn-success">Add</a>  
    <a type="button" class="btn btn-success">Import Excel</a>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mã Xử Lý</th>
        <th scope="col">Mã Thành Viên</th>
        <th scope="col">Tên Thành Viên</th>
        <th scope="col">Hình Thức Xử Lý</th>
        <th scope="col">Số Tiền</th>
        <th scope="col">Ngày Xử Lý</th>
        <th scope="col">Trạng Thái</th>
        <th scope="col">Hành Động</th>
      </tr>    
    </thead>
    <tbody>
      <tr th:each="discipline : ${disciplineList}">  
            <td th:text="${discipline.id}"></td>
            <td th:text="${discipline.member.getId()}"></td>
            <td th:text="${discipline.member.name}"></td>
            <td th:text="${discipline.description}"></td>
            <td th:text="${discipline.fine}"></td> 
            <td th:text="${#dates.format(discipline.date, 'dd/MM/yyyy HH:mm')}"></td> 
            <td th:text="${discipline.status}"></td>
            <td>  
                <a th:href="@{/editDiscipline?id={id}(id=${discipline.id})}" class="btn btn-primary">Edit</a>  
                <a th:href="@{/deleteDiscipline?id={id}(id=${discipline.id})}" class="btn btn-danger">Delete</a>  
            </td>  
        </tr>  
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
