<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base">
    <head>
        <title>Borrowed Devices List</title>
    </head>
    <body>
        <div class="container mt-3" th:fragment="content">
            <h3>Borrowed Devices List</h2>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Device ID</th>
                        <th>Device Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="i : ${borrowedDevices}" th:if="${i.device != null}">
                        <td th:text="${i.device.id}">Device ID</td>
                        <td th:text="${i.device.name}">Device Name</td>
                        <td th:text="${#dates.format(i.borrowedTime, 'dd/MM/yyyy HH:mm')}">Borrowed Time</td>
                    </tr>
                </tbody>
            </table>
            <a href="/profile" class="btn btn-primary">Back to profile</a>
        </div>

    </body>
</html>
